<p id="notice"><%= notice %></p>

<h1>Bookmarked Services</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarked_services.each do |bookmarked_service| %>
      <tr>
        <td><%= link_to 'Show', bookmarked_service %></td>
        <td><%= link_to 'Edit', edit_bookmarked_service_path(bookmarked_service) %></td>
        <td><%= link_to 'Destroy', bookmarked_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmarked Service', new_bookmarked_service_path %>
